{% extends 'base.html' %}

{% block title %} Login{% endblock title %}

{% block extracss %}
<style type="text/css">

	.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 9.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
</style>

{% endblock extracss %}


{% block main_content %}

<div class="cotainer login-form">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">Login</div>
					<div class="card-body">
						<form>
							<div class="form-group">
							  <label for="username">Username</label>
							  <input type="text" class="form-control" id="username" placeholder="Enter Username">
							</div>
							<div class="form-group">
							  <label for="password">Password</label>
							  <input type="password" class="form-control" id="password" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
							<a href="{% url 'register' %}">not register?</a>
						  </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock main_content %}